/* 
    Document   : estilo
    Created on : 25-mar-2014, 13:37:54
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
    border: 0;

}
.ui-top .ui-layout-unit-content {
    background-color: black; 
    background-image:url(../imagenes/p.jpg) ;
    background-repeat: repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;   


}
.ui-dow .ui-layout-unit-content {
    background-color: black; 
    background-image:url(../imagenes/p.jpg) ;
    background-repeat: repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;    
    font: bold;
    color: white;


}
