<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <f:view contentType="text/html">
        <h:head>
            <link href="../css/estilo.css" type="text/css" rel="stylesheet" /> 
            <f:facet name="first" >
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>SICPG</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true" >

                <p:layoutUnit position="north" size="100" resizable="false" closable="false" collapsible="false"  gutter="0" styleClass="ui-top">
                    <h:graphicImage url="../imagenes/logo.png" style=' height:82px'/>
                    <h:graphicImage url="../imagenes/titu.png" style=' height:82px;   float: right' />   
                </p:layoutUnit>   

                <p:layoutUnit position="south" size="100"  styleClass="ui-dow" >
                    <center>                    
                        <a1>Elaborado por:     David E.Cardona, Manuel F. Serna , Carlos Eduardo Tavera   
                            <br/>
                            Asignatura:   Ingeniería de Software II
                            <br/>
                            Universidad Autónoma de Manizales</a1>                   
                    </center>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Menu" collapsible="false">
                    <h:form>  
                        <p:growl id="mensajes" sticky="true" life="3000" />

                        <p:commandButton id="logout" style='width:163px; height:70px' value="Salir (#{request.getUserPrincipal()})" 
                                         actionListener="#{controladorUsuarioSesion.salir}"
                                         oncomplete="logout(xhr, status, args)" update="mensajes">                                        
                        </p:commandButton>                                             
                        <br/>
                        <br/>
                        <p:button  value="Inicio" icon="ui-icon-home" style='width:163px; height:50px' outcome="inicio.xhtml" >
                        </p:button>                    
                        <br/>
                        <p:button  value="Buscar" icon="ui-icon-search" style='width:163px; height:50px' outcome="buscar.xhtml" 
                                   onclick="#{controladorProyecto.inicioOpciones()}" >
                        </p:button>
                        <p:button  value="Prestar" icon="ui-icon-star" style='width:163px; height:50px' outcome="prestar.xhtml" >
                        </p:button> 
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit  position="center" header="Busqueda"  >
                    <h:form>
                        <p:growl id="growl" sticky="true" />  
                        <br/>
                        <center> 
                            <p:panel  header="Opción de búsqueda:" style='width:900px; ' > 

                                <h:panelGrid columns="2" cellpadding="10">
                                    <br/>
                                    <p:selectOneRadio id="options" value="#{controladorProyecto.opcionesBusqueda}">
                                        <f:selectItem itemLabel="Titulo" itemValue="1" />
                                        <f:selectItem itemLabel="Palabra clave" itemValue="2" />
                                        <f:selectItem itemLabel="Titulo y Palabra clave" itemValue="3" />
                                        <f:selectItem itemLabel="Código" itemValue="4" />
                                    </p:selectOneRadio>
                                </h:panelGrid>
                                <br/>
                                <p:inputText id="busqueda" size="85" placeholder="Que desea buscar ?" value="#{controladorProyecto.busqueda}" 
                                             required="true" requiredMessage="ERROR: Debe ingresar un parámetro de búsqueda" /> 
                                <br/>
                                <br/>
                                <p:commandButton value="Buscar"  icon="ui-icon-search" style='width:163px; height:50px' 
                                                 action="#{controladorProyecto.resultadoBusqueda}" update="growl"/>                     
                            </p:panel> 

                            <p:accordionPanel  style='width:350px; height:10px' activeIndex="null" > 
                                <p:tab title="Filtro de Fecha"  >                       
                                    <p:inputText size="15" style='width:90px; height:20px' placeholder="Desde" value="#{controladorProyecto.fechaInicial}"/>                            
                                    <p:inputText size="15" style='width:90px; height:20px' placeholder="Hasta"  value="#{controladorProyecto.fechafinal}"/>
                                </p:tab>

                                <p:tab title="Filtro De Tipo De Estudio"  > 
                                    <p:selectOneMenu  style='width:270px; height:30px' value="#{controladorProyecto.opcionesEstudio}">  
                                        <f:selectItem itemLabel="Selecciones una opción" itemValue="0" />  
                                        <f:selectItem itemLabel="Pregrado" itemValue="1" />  
                                        <f:selectItem itemLabel="Posgrado" itemValue="2" />                                      
                                    </p:selectOneMenu>
                                </p:tab>

                            </p:accordionPanel>

                        </center>

                    </h:form>

                </p:layoutUnit>

            </p:layout>

        </h:body>
        <script type="text/javascript">
            //<![CDATA[
            function logout(xhr, status, args) {
                setTimeout(function() {
                    window.location = '../index.xhtml';
                }, 2500);
            }
            //]]>
        </script>

    </f:view>

</html>


