<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <f:view contentType="text/html">
        <h:head>
            <link href="../css/estilo.css" type="text/css" rel="stylesheet" />     
            <f:facet name="first" >
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>SICPG</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true"  >

                <p:layoutUnit position="north" size="100" resizable="false" closable="false" collapsible="false"  gutter="0" styleClass="ui-top">
                    <h:graphicImage url="../imagenes/logo.png" style=' height:82px'/>
                    <h:graphicImage url="../imagenes/titu.png" style=' height:82px;   float: right' />   
                </p:layoutUnit>  

                <p:layoutUnit position="south" size="100"  styleClass="ui-dow" >
                    <center>                    
                        <a1>Elaborado por:     David E.Cardona, Manuel F. Serna , Carlos Eduardo Tavera   
                            <br/>
                            Asignatura:   Ingeniería de Software II
                            <br/>
                            Universidad Autónoma de Manizales</a1>                   
                    </center>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Menu" collapsible="false">                    
                    <h:form>
                        <p:growl id="mensajes" sticky="true" life="3000" />

                        <p:commandButton id="logout" style='width:163px; height:70px' value="Salir (#{request.getUserPrincipal()})" 
                                         actionListener="#{controladorUsuarioSesion.salir}"
                                         oncomplete="logout(xhr, status, args)" update="mensajes">                                        
                        </p:commandButton>                                                                                   

                        <br/>   
                        <br/>
                        <p:button  value="Inicio" icon="ui-icon-home" style='width:163px; height:50px' 
                                   outcome="inicio.xhtml" >
                        </p:button>
                        <br/>

                        <p:button  value="Buscar" icon="ui-icon-search" style='width:163px; height:50px' 
                                   outcome="buscar.xhtml" >
                        </p:button> 
                        <br/>
                        <p:button  value="Prestar" icon="ui-icon-star" style='width:163px; height:50px'
                                   outcome="prestar.xhtml" >
                        </p:button> 
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="center" header="Inicio"  >
                    <br/>
                    <br/>
                    <br/>
                    <center>
                        <br/>
                        <br/>
                        <h:outputText value="Bienvenidos  " />
                        <br/>
                        <h:outputText value="Al Sistema de Consulta de Proyectos de Grado  "  />
                        <br/>
                        <br/>
                        El sistema de consultas es una herramienta que permite administrar los proyectos de Grado 
                        <br/>
                        vinculados a la universidad, en la facultad de Ingeniería de Sistemas, permitiendo un mayor nivel de                        
                        <br/>
                        aprovechamiento de la información para todos los profesores y estudiantes. 
                    </center>
                </p:layoutUnit>

            </p:layout>

        </h:body>
        <script type="text/javascript">
            //<![CDATA[
            function logout(xhr, status, args) {
                setTimeout(function() {
                    window.location = '../index.xhtml';
                }, 2500);
            }
            //]]>
        </script>


    </f:view>

</html>