<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <link href="../css/estilo.css" type="text/css" rel="stylesheet" />  
            <f:facet name="first" >
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>SICPG</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true"  >

                <p:layoutUnit position="north" size="100" resizable="false" closable="false" collapsible="false"  gutter="0" styleClass="ui-top">
                    <h:graphicImage url="../imagenes/logo.png" style=' height:82px'/>
                    <h:graphicImage url="../imagenes/titu.png" style=' height:82px;   float: right' />   
                </p:layoutUnit>   

                <p:layoutUnit position="south" size="100"  styleClass="ui-dow" >
                    <center>                    
                        <a1>Elaborado por:     David E.Cardona, Manuel F. Serna , Carlos Eduardo Tavera   
                            <br/>
                            Asignatura:   Ingeniería de Software II
                            <br/>
                            Universidad Autónoma de Manizales</a1>                   
                    </center>
                </p:layoutUnit>      

                <p:layoutUnit position="west" size="175" header="Menu" collapsible="false">
                    <h:form> 
                        <p:growl id="mensajes" sticky="true" life="3000" />

                        <p:commandButton id="logout" style='width:163px; height:70px' value="Salir (#{request.getUserPrincipal()})" 
                                         actionListener="#{controladorUsuarioSesion.salir}"
                                         oncomplete="logout(xhr, status, args)" update="mensajes">                                        
                        </p:commandButton>                                                                     
                        <br/>
                        <br/>                   
                        <p:button  value="Inicio" icon="ui-icon-home" style='width:163px; height:50px' outcome="inicio.xhtml" >
                        </p:button>                    
                        <br/>
                        <p:button  value="Buscar" icon="ui-icon-search" style='width:163px; height:50px' outcome="buscar.xhtml" >
                        </p:button>
                        <p:button  value="Prestar" icon="ui-icon-star" style='width:163px; height:50px' outcome="prestar.xhtml" 
                                   onclick="#{controladorPrestamo.inicioOpciones()}">
                        </p:button> 
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="center" header="Préstamo"  >
                    <br/>
                    <h:form id="form"> 
                        <center>
                            <p:panel  header="Formulario de Prestamo" style='width:95%; border: 0 ' > 
                                <p:messages id="messages"  autoUpdate="true"  /> 

                                <p:panel style='width:48%; float: left '>
                                    <h:panelGrid columns="2"  >   

                                        <h:outputText value="Codigo de Proyecto:" />
                                        <p:inputText id="codigo" size="20"  value="#{controladorPrestamo.codigoProyecto}" 
                                                     required="true" requiredMessage="ERROR: Debe ingresar el código del proyecto" >
                                            <p:ajax event="keyup" update="proj" />
                                        </p:inputText>  

                                        <h:outputText value="Cedula de Usuario:" />
                                        <p:inputText id="cedula" size="20"  value="#{controladorPrestamo.cedulaUsuario}" 
                                                     required="true" requiredMessage="ERROR: Debe ingresar la cedula del usuario" >
                                            <p:ajax event="keyup" update="usuario" />
                                        </p:inputText>  


                                        <h:outputText value="Fecha de Entrega:" />
                                        <p:calendar  value="#{controladorPrestamo.fechaDevolucion}" required="true"  
                                                     requiredMessage="ERROR: Debe suministrar la fecha de entrega" style="width:206px"
                                                     mindate="#{controladorPrestamo.fechaMinima}"/>   

                                        <h:outputText value="Artículos Prestados:" />

                                        <p:selectOneRadio id="options" value="#{controladorPrestamo.opcionesPrestamo}" layout="grid" columns="1">
                                            <f:selectItem itemLabel="Documentos" itemValue="1" />
                                            <f:selectItem itemLabel="CDs" itemValue="2" />
                                            <f:selectItem itemLabel="Documentos y CDs" itemValue="3" />                                       
                                        </p:selectOneRadio>

                                    </h:panelGrid>

                                    <br/>                           

                                    <p:commandButton value="Aceptar"  icon="ui-icon-check" style='width:125px; height:40px' 
                                                     action="#{controladorPrestamo.prestar()}" update="form" />                     
                                </p:panel>
                                <p:panel style='width:48%; float: right'>
                                    <p:dataTable id="proj" var="proyec" value="#{controladorPrestamo.proyecto}" scrollable="true"  
                                                 emptyMessage="NO Se Encontró Ninguna Coincidencia ">

                                        <p:column headerText="Titulo" style="width:15%" >
                                            <h:outputText value="#{proyec.titulo}" />
                                        </p:column>

                                        <p:column headerText="Autor" style="width:15%">
                                            <h:outputText   value="#{proyec.autoresColection()}"/>
                                        </p:column>

                                        <p:column headerText="Año" style="width:15%">
                                            <h:outputText value="#{proyec.año}" />
                                        </p:column>                                      

                                    </p:dataTable>

                                    <br/>
                                    <p:dataTable id="usuario" var="usuario"  scrollable="true" value="#{controladorPrestamo.usuario}"  
                                                 emptyMessage="NO Se Encontró Ninguna Coincidencia ">

                                        <p:column headerText="Nombre de Usuario" style="width:15%">
                                            <h:outputText value="#{usuario.nombre}" />
                                        </p:column>                                      

                                    </p:dataTable>

                                </p:panel>

                            </p:panel> 

                        </center>

                    </h:form>

                </p:layoutUnit>

            </p:layout>

        </h:body>
        <script type="text/javascript">
            //<![CDATA[
            function logout(xhr, status, args) {
                setTimeout(function() {
                    window.location = '../index.xhtml';
                }, 2500);
            }
            //]]>
        </script>

    </f:view>

</html>
