<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">



    <f:view contentType="text/html">
        <h:head>
            <link href="../css/estilo.css" type="text/css" rel="stylesheet" /> 
            <f:facet name="first" >
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>SICPG</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true"  >

                <p:layoutUnit position="north" size="100" resizable="false" closable="false" collapsible="false"  gutter="0" styleClass="ui-top">
                    <h:graphicImage url="../imagenes/logo.png" style=' height:82px'/>
                    <h:graphicImage url="../imagenes/titu.png" style=' height:82px;   float: right' />   
                </p:layoutUnit>   

                <p:layoutUnit position="south" size="100"  styleClass="ui-dow" >
                    <center>                    
                        <a1>Elaborado por:     David E.Cardona, Manuel F. Serna , Carlos Eduardo Tavera   
                            <br/>
                            Asignatura:   Ingeniería de Software II
                            <br/>
                            Universidad Autónoma de Manizales</a1>                   
                    </center>
                </p:layoutUnit>      

                <p:layoutUnit position="west" size="175" header="Menu" collapsible="false">
                    <h:form> 
                        <p:growl id="mensajes" sticky="true" life="3000" />

                        <p:commandButton id="logout" style='width:163px; height:70px' value="Salir (#{request.getUserPrincipal()})" 
                                         actionListener="#{controladorUsuarioSesion.salir}"
                                         oncomplete="logout(xhr, status, args)" update="mensajes">                                        
                        </p:commandButton>                                                                   
                        <br/>
                        <br/>                   
                        <p:button  value="Inicio" icon="ui-icon-home" style='width:163px; height:50px' 
                                   outcome="inicio.xhtml" >
                        </p:button>                    
                        <br/>
                        <p:button  value="Buscar" icon="ui-icon-search" style='width:163px; height:50px' 
                                   outcome="buscar.xhtml" >
                        </p:button>
                        <p:button  value="Prestar" icon="ui-icon-star" style='width:163px; height:50px' 
                                   outcome="prestar.xhtml" >
                        </p:button> 
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="center" header="Resultado"  >
                    <br/>
                    <center>
                        <h:form id="form">
                            <p:growl id="msgs" showDetail="true" />
                            <p:dataTable id="proj" var="proyec" value="#{controladorProyecto.prepararBusqueda}"  
                                         emptyMessage="NO Se Encontró Ninguna Coincidencia ">

                                <p:column headerText="Titulo" style="width:15%">
                                    <h:outputText value="#{proyec.titulo}" />
                                </p:column>

                                <p:column headerText="Palabras Claves" style="width:15%">
                                    <h:outputText  value="#{proyec.palabrasClaves()}" />
                                </p:column>

                                <p:column headerText="Autor" style="width:15%">
                                    <h:outputText   value="#{proyec.autoresColection()}"/>
                                </p:column>

                                <p:column headerText="Año" style="width:15%">
                                    <h:outputText value="#{proyec.año}" />
                                </p:column>

                                <p:column headerText="Periodo" style="width:15%">
                                    <h:outputText value="#{proyec.semestre}" />
                                </p:column>

                                <p:column headerText="Tipo de Estudio" style="width:15%">
                                    <h:outputText value="#{proyec.estudio}" />
                                </p:column>

                                <p:column style="width:5%" headerText="Detalle">
                                    <p:commandButton id="selectButton" update=":form:display" oncomplete="PF('carDialog').show()" 
                                                     icon="ui-icon-search" title="Detalle">
                                        <f:setPropertyActionListener value="#{proyec}" target="#{controladorProyecto.proyecto}"  />  
                                    </p:commandButton>
                                </p:column>

                            </p:dataTable>

                            <p:dialog  closable="true" header="Información" widgetVar="carDialog" resizable="false" id="carDlg" 
                                       showEffect="fade" hideEffect="explode"  closeOnEscape="true" modal="true" appendToBody="true" >                                

                                <h:panelGrid id="display" columns="2" cellpadding="4" style="margin:0 auto;">


                                    <h:outputText value="Titulo:" style="font-weight:bold"/>
                                    <h:outputText value="#{controladorProyecto.proyecto.titulo}" />

                                    <h:outputText value="Código:" style="font-weight:bold"/>
                                    <h:outputText value="#{controladorProyecto.proyecto.id}" style="color: red"/>

                                    <h:outputText value="Estado:" style="font-weight:bold"/>
                                    <h:outputText value="#{controladorProyecto.proyecto.estado}" />

                                    <h:outputText value="Año:" style="font-weight:bold"/>
                                    <h:outputText value="#{controladorProyecto.proyecto.año}" />

                                    <h:outputText value="Semestre:" style="font-weight:bold"/>
                                    <h:outputText value="#{controladorProyecto.proyecto.semestre}" />

                                    <h:outputText value="Estudio:" style="font-weight:bold"/>
                                    <h:outputText value="#{controladorProyecto.proyecto.estudio}" />

                                    <h:outputText value="Autores:" style="font-weight:bold"/>
                                    <h:outputText value="#{controladorProyecto.proyecto.autoresColection()}"/>

                                    <h:outputText value="Asesores:" style="font-weight:bold"/>
                                    <h:outputText value="#{controladorProyecto.proyecto.asesoreColection()}" />

                                    <h:outputText value="Grupos De Investigacion:" style="font-weight:bold" />
                                    <h:outputText value="#{controladorProyecto.proyecto.grupoInvestigacionColection()}"/>

                                    <h:outputText value="Palabras Claves:" style="font-weight:bold"/>
                                    <h:outputText value="#{controladorProyecto.proyecto.palabrasClaves()}" />

                                    <h:outputText value="Resumen:" style="font-weight:bold" />
                                    <h:outputText value="#{controladorProyecto.proyecto.resumen}" />

                                    <h:outputText value="CD:" style="font-weight:bold"/>
                                    <h:outputText value="#{controladorProyecto.proyecto.cd}" />

                                    <h:outputText value="Documentos:" style="font-weight:bold"/>
                                    <h:outputText value="#{controladorProyecto.proyecto.documentos}" />

                                    <h:outputText value="Ubicacion:" style="font-weight:bold"/>
                                    <h:outputText value="#{controladorProyecto.proyecto.ubicacion}" />

                                </h:panelGrid>

                            </p:dialog>

                        </h:form>

                    </center>

                </p:layoutUnit>

            </p:layout>

        </h:body>
        <script type="text/javascript">
            //<![CDATA[
            function logout(xhr, status, args) {
                setTimeout(function() {
                    window.location = '../index.xhtml';
                }, 2500);
            }
            //]]>
        </script>

    </f:view>

</html>


