<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">



    <h:head>
        <title>SICPG</title>
        <h:outputStylesheet library="css" name="estilo.css"/>
        <link href="${pageContext.request.contextPath}/css/estilo.css" type="text/css" rel="stylesheet" />    
    </h:head>

    <h:body>

        <p:layout fullPage="true" >

            <p:layoutUnit position="north" size="100" resizable="false" closable="false" collapsible="false"  gutter="0" styleClass="ui-top">
                <h:graphicImage url="/imagenes/logo.png" style=' height:82px'/>
                <h:graphicImage url="/imagenes/titu.png" style=' height:82px;   float: right' />   
            </p:layoutUnit> 


            <p:layoutUnit position="south" size="100"  styleClass="ui-dow" >
                <center>                    
                    <a1>Elaborado por:     David E.Cardona, Manuel F. Serna , Carlos Eduardo Tavera   
                        <br/>
                        Asignatura:   Ingeniería de Software II
                        <br/>
                        Universidad Autónoma de Manizales</a1>                   
                </center>
            </p:layoutUnit>

            <p:layoutUnit position="west" size="175" header="Menu" collapsible="false">
                <p:button style='width:163px; height:40px' value="Entrar" outcome="entrar.xhtml"  icon="ui-icon-key" onclick="#{controladorUsuarioSesion.inicioOpciones()}" >                                        
                </p:button> 
                <br/>
                <br/>                   
                <p:button  value="Inicio" icon="ui-icon-home" style='width:163px; height:50px' outcome="../index.xhtml" >
                </p:button>
                <br/>                    
                <p:button  value="Buscar" icon="ui-icon-search" style='width:163px; height:50px' outcome="buscar.xhtml" onclick="#{controladorProyecto.inicioOpciones()}" >
                </p:button>
            </p:layoutUnit>

            <p:layoutUnit  position="center" header="Inicio De Sesión"  >
                <form method="post" action="j_security_check">
                    <center>  
                        <p:panel header="Inicio De Sesión" style="width:450px">

                            <h:panelGrid columns="2" cellpadding="8">
                                <h:outputLabel for="j_username" value="Usuario:" />
                                <p:inputText id="j_username" name="j_username"  />
                                <h:outputLabel for="j_password" value="Clave:"  />
                                <p:password id="j_password" name="j_password"/>
                            </h:panelGrid>

                            <input type="submit" name="submit" value="Entrar" /> 
                        </p:panel>    
                    </center>                           
              </form>
            </p:layoutUnit>
            
        </p:layout>

    </h:body>

</html>



